{{#partial "content"}}

<div style="background-color:#b2d2ff; width:60px"><h4>Name:</h4></div>
    <p>{{ event.name }}</p>
<div style="background-color:#b2d2ff; width:150px"><h4>Event Description:</h4></div>
    <p> {{event.description}}</p>
<div style="background-color:#b2d2ff; width:100px"><h4>Event Date:</h4></div>
    <p>{{event.startDate}}</p>
<div style="background-color:#b2d2ff; width:100px"><h4>Event Time:</h4></div>
    <p> {{event.startTime}}</p>
    <a href="/events/{{event.id}}/update">Edit this event</a>
    <br>

{{/partial}}

{{> layout.hbs}}