{{#partial "content"}}

    {{#if editEvent}}
        <h1>Edit this Event!</h1>
            <form action="/events/{{editEvent.id}}/update" method="post">
                <label for="name">Edit this event's name: </label>
                <input id="name" name="name" type="text" value="{{editEvent.name}}">
                <br>
                <br>
                <label for="description">Edit Description of event: </label>
                <input id="description" name="description" type="text" value="{{editEvent.description}}">
                <br>
                <br>
                <label for="startDate">Date of event: </label>
                <input id="startDate" name="startDate" type="date" value="{{editEvent.startDate}}">
                <br>
                <label for="startTime">Start Time of event: </label>
                <input id="startTime" name="startTime" type="time" value="{{editEvent.startTime}}">
                <br>
                <button type="submit" class="btn btn-success">Save Event!</button>
            </form>
    {{else}}
    <h1>Add Your Event!</h1>
    <form action="/events/new" method="post" name="form2">
        <label for="name">Event name</label>
        <input id="name" name="name" type="text">
        <br>
        <label for="description">Description of event: </label>
        <input id="description" name="description" type="text">
        <br>
        <br>
        <label for="startDate">Date of event: </label>
        <input id="startDate" name="startDate" type="date">
        <br>
        <label for="startTime">Start Time of event: </label>
        <input id="startTime" name="startTime" type="time">
        <br>
        <br>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Add Event!</button>
        {{/if}}
    </form>
{{/partial}}
{{> layout.hbs}}