{{#partial "content"}}

    {{#if editEvent}}
        <h1>Edit this Event!</h1>
            <form action="/events/{{editEvent.id}}/update" method="post">
                <label for="name">Edit this event's name: </label>
                <input id="name" name="name" type="text" value="{{editEvent.name}}">
                <br>
                <br>
                <label for="description">Edit Description of event: </label>
                <input id="description" name="description" type="text" value="{{editEvent.description}}">
                <br>
                <br>
                <label for="year">Edit Year of event: </label>
                <input id="year" name="year" type="text" value="{{editEvent.year}}">
                <br>
                <label for="month">Edit Month of event: </label>
                <input id="month" name="month" type="text" value="{{editEvent.month}}">
                <br>
                <label for="day">Edit Day of month:</label>
                <input id="day" name="day" type="text" value="{{editEvent.day}}">
                <br>
                <br>
                <label for="attendees">Edit attendees:</label>
                <input id="attendees" name="attendees" type="text" value="{{editEvent.attendees}}">
            </form>
    {{else}}
    <h1>Add Your Items</h1>
    <form action="/event/new" method="post" name="form2">
        <label for="name">Event name</label>
        <input id="name" name="name" type="text">
        <br>
        <label for="description">Description of event: </label>
        <input id="description" name="description" type="text">
        <br>
        <br>
        <label for="year">Year of event: </label>
        <input id="year" name="year" type="text">
        <br>
        <label for="month">Month of event: </label>
        <input id="month" name="month" type="text">
        <br>
        <label for="day">Day of month:</label>
        <input id="day" name="day" type="text">
        <br>
        <br>
        <label for="attendees">Add attendees separated by commas:</label>
        <input id="attendees" name="attendees" type="text">
        </div>
        <br>
        {{/if}}
        <button type="submit" class="btn btn-default">Add Event!</button>
    </form>
{{/partial}}
{{> layout.hbs}}